<div class="root-component">
  <div class="student-list">
    <app-student-list [students]="students"></app-student-list>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onEditClick()">
      {{isEditMode ? 'Finish Editing' : 'Edit Students'}}
    </button>
  </div>

  <div class="student-edit" *ngIf="isEditMode">
    <app-student-edit [student]="students[editStudentIdx]"></app-student-edit>
    <button
      type="button"
      class="btn btn-primary"
      id="prev-btn"
      (click)="prevStudent()">
      Previous
    </button>
    <button
      type="button"
      class="btn btn-primary"
      id="next-btn"
      (click)="nextStudent()">
      Next
    </button>
  </div>
</div>
